<svg class="icon-sprite" aria-hidden="true" focusable="false">
  <symbol id="icon-home" viewBox="0 0 24 24">
    <path d="M3 11.5 12 4l9 7.5"></path>
    <path d="M5 10.5V20h14v-9.5"></path>
    <path d="M9.5 20v-6h5v6"></path>
  </symbol>
  <symbol id="icon-wallet" viewBox="0 0 24 24">
    <path d="M4 7h15a2 2 0 0 1 2 2v9H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h13"></path>
    <path d="M16 13h5"></path>
    <path d="M17.5 13h.01"></path>
  </symbol>
  <symbol id="icon-analytics" viewBox="0 0 24 24">
    <path d="M4 19V5"></path>
    <path d="M4 19h16"></path>
    <path d="M8 16v-4"></path>
    <path d="M12 16V8"></path>
    <path d="M16 16v-6"></path>
  </symbol>
  <symbol id="icon-settings" viewBox="0 0 24 24">
    <path d="M12 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"></path>
    <path d="M19.4 15a1.8 1.8 0 0 0 .36 1.98l.04.04a2 2 0 0 1-2.82 2.82l-.04-.04a1.8 1.8 0 0 0-1.98-.36 1.8 1.8 0 0 0-1.1 1.66V21a2 2 0 0 1-4 0v-.1A1.8 1.8 0 0 0 8.8 19.2a1.8 1.8 0 0 0-1.98.36l-.04.04a2 2 0 0 1-2.82-2.82l.04-.04a1.8 1.8 0 0 0 .36-1.98 1.8 1.8 0 0 0-1.66-1.1H2.6a2 2 0 0 1 0-4h.1A1.8 1.8 0 0 0 4.4 8.6a1.8 1.8 0 0 0-.36-1.98L4 6.58a2 2 0 0 1 2.82-2.82l.04.04a1.8 1.8 0 0 0 1.98.36A1.8 1.8 0 0 0 9.9 2.5V2.4a2 2 0 0 1 4 0v.1A1.8 1.8 0 0 0 15 4.2a1.8 1.8 0 0 0 1.98-.36l.04-.04a2 2 0 0 1 2.82 2.82l-.04.04a1.8 1.8 0 0 0-.36 1.98 1.8 1.8 0 0 0 1.66 1.1h.1a2 2 0 0 1 0 4h-.1a1.8 1.8 0 0 0-1.7 1.26Z"></path>
  </symbol>
  <symbol id="icon-expense" viewBox="0 0 24 24">
    <path d="M6 7h12l-1 12H7L6 7Z"></path>
    <path d="M9 7a3 3 0 0 1 6 0"></path>
  </symbol>
  <symbol id="icon-income" viewBox="0 0 24 24">
    <path d="M12 4v13"></path>
    <path d="m7 12 5 5 5-5"></path>
    <path d="M5 20h14"></path>
  </symbol>
  <symbol id="icon-subscription" viewBox="0 0 24 24">
    <path d="M17 3v4h-4"></path>
    <path d="M7 21v-4h4"></path>
    <path d="M17 7A7 7 0 0 0 6.9 6"></path>
    <path d="M7 17a7 7 0 0 0 10.1 1"></path>
  </symbol>
  <symbol id="icon-exchange" viewBox="0 0 24 24">
    <path d="M7 7h12"></path>
    <path d="m16 4 3 3-3 3"></path>
    <path d="M17 17H5"></path>
    <path d="m8 14-3 3 3 3"></path>
  </symbol>
  <symbol id="icon-debt" viewBox="0 0 24 24">
    <path d="M7 3h10v18H7z"></path>
    <path d="M10 8h4"></path>
    <path d="M10 12h4"></path>
    <path d="M10 16h2"></path>
  </symbol>
  <symbol id="icon-fuel" viewBox="0 0 24 24">
    <path d="M5 21V5a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v16"></path>
    <path d="M4 21h13"></path>
    <path d="M8 7h5v4H8z"></path>
    <path d="M16 8h2l2 2v7a2 2 0 0 1-4 0v-4h2"></path>
  </symbol>
  <symbol id="icon-droplet" viewBox="0 0 24 24">
    <path d="M12 3s6 6.1 6 11a6 6 0 0 1-12 0c0-4.9 6-11 6-11Z"></path>
  </symbol>
  <symbol id="icon-card" viewBox="0 0 24 24">
    <path d="M4 6h16v12H4z"></path>
    <path d="M4 10h16"></path>
    <path d="M7 15h3"></path>
  </symbol>
</svg>

